:root {
   
  --color-primary: #896C6C;    
  --color-secondary: #E5BEB5;  
  --color-accent: #EEE6CA;     

  --color-bg: #F5FAE1 ;
  --color-text: #ffffff;
}
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-primary);
   margin: 0;
   display: flex;
   flex-direction: column;
   min-height: 100vh; 
}

#course-title{
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-secondary);
}
.container{
    display: flex;
    justify-content: space-around;


}
nav{
    background-color: #541212;
    opacity: 50%;
    padding: 1em;
    width: 100%;
}
.links{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}
.links:hover{

    color: var(--color-accent);
}
main{
    flex: 1;
}
h1{
    color: #EEE6CA;
    text-align: center;
    font-size: 2.2em;
}
h2{
     background-color: #541212;
     opacity: 50%;
     font-size: 1.2em;
     font-weight: bold;
}
.one{
    width: 40%;
    display: flex; 
    flex-direction: column;  
    align-items: center;
    border: 2px solid  #541212;
   border-radius: 5%; 
   padding-left: 1.5rem;

}
.two{
   width: 30%;
   border: 2px solid  #541212;
   border-radius: 7%;
   display: inline-block; 
   
   text-align: left;
  text-align: center
}
.two ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-top: 6rem;
}
.about h2{
    text-align: center;
    margin-top: 1rem;
}
.cards-container{
    display:flex;
    justify-content: space-around;

}
#profile{
    float: right;
    height:9rem ;
    width: 9rem;
    margin-right: 2rem;
}
.card p{
   color: #EEE6CA;
    font-size: 1.1em;
}
figure{
    float: right;
    /*height: 8rem;*/
    padding-bottom: 3rem;
}
#flag{
    height: 8rem;
}
figcaption{
    font-size: 14px;
  color: #555;           
  margin-top: 5px;          
  font-style: italic; 
}
.card a{
    color: var(--color-accent);
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}
.card a:hover{
    text-decoration: underline;
}
footer{
    background-color: #541212;
    opacity: 50%;
    padding: 1em;
    text-align: center;
}