:root {
   
  --color-primary: #896C6C;    
  --color-secondary: #E5BEB5;  
  --color-accent: #EEE6CA;     

  --color-bg: #F5FAE1 ;
  --color-text: #ffffff;
  --main-font: "Big Shoulders Inline", sans-serif;
}
body {
  min-height: 100vh; /* 100% of the viewport height */
  display: flex;
  flex-direction: column;
}

/* Let the main content area expand to fill space */
main {
  flex: 1;
}

#reviewths{
    text-align: center;
    color: var(--color-accent);
    font-family: 'big Shoulders Inline';
}
#reviewCountDisplay{
    color: var(--color-accent);
    text-align: center;
    font-size: 2em;
    margin-top: 9em;
    font-family: 'Big Shoulders Inline';
}

